
.info-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.info {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
}

.info-box {
    display: inline-block;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    width: 420px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .info-icon {
        display: none;
    }
}